body {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e0eeee; /* Background color for the entire body */
}

header, footer {
  background-color: #a9bdbd;
  text-align: center;
  padding: 10px 0;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #fff; /* White background for the main content */
  border: 1px solid #ccc; /* Grey border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 700px) {
  body, main {
      padding: 10px;
  }
}

@media only screen and (max-width: 430px) {
  header, footer {
      padding: 5px 0;
  }
}
